.formCreateTable {
    width:60%;
    display: block;
    margin: auto;
}
.form {
    margin: 15px auto 30px auto;
}
.inputs {
    background-color: lightgray;
    display: block;
    margin:auto;
    width: 100%;
    outline: none;
    border:none;
    font-size:24px;
    padding:10px;
    box-sizing: border-box;
}
.fildset {
    border:0;
}
.legend {
    font-size:24px;
    font-weight: bold;
}
.submit {
    margin-top:20px;
    border-radius:10px;
}
.section {
    width:100%;
    display:flex;
}
.b {
    font-size:24px;
}
.h2 {
    font-size:30px;
    text-align: center;
}
.add {
    background-color:  rgb(171, 170, 170);
    font-size:24px;
    padding:10px;
    display: block;
    width: 100px;
    text-align: center;
    float: right;
    user-select: none;
}
.li {
    margin:5px 0;
    padding:0;
    font-size:19px;
    border-bottom: 1px solid gray;
}
.li:hover {
    background-color: rgb(248, 40, 40);
}
.items {
    width:55%;
    word-break: break-all;

}
.days {
    width:30%;
    text-align: start;
}